package api

import (
	"context"

	"github.com/iwannay/kratos/pkg/net/rpc/warden"

	"google.golang.org/grpc"
)

// AppID . 这里需要手动修改
const AppID = "demo.service"

// NewClient new grpc client
func NewClient(cfg *warden.ClientConfig, opts ...grpc.DialOption) (DemoClient, error) {
	client := warden.NewClient(cfg, opts...)
	cc, err := client.Dial(context.Background(), "etcd://default/"+AppID)
	if err != nil {
		return nil, err
	}
	return NewDemoClient(cc), nil
}

// 生成 gRPC 代码
//go:generate kratos tool protoc --grpc --bm api.proto
